<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
        <title>Listar perfiles</title>
    </head>
    <body>
        <div th:replace="fragments/header :: navbar"></div>
        <div class="wrapper row p-4"> 
            <div class="header-title col-12">
                <h3>Lista de usuarios</h3>
            </div>
            <div class="card col-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th> Id </th>
                            <th> Nombre </th>
                            <th> Email </th>
                            <th> Ciudad </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${list.length == 0}">
                            <td colspan="5"> No hay usuarios... </td>
                        </tr>
                        <tr th:each="profile : ${list}">
                            <td><span th:text="${profile.id}"> </span></td>
                            <td><span th:text="${profile.nombre}"> </span></td>
                            <td><span th:text="${profile.email}"> </span></td>
                            <td><span th:text="${profile.ciudad}"> </span></td>
                            <td><a th:href="@{'/profile/view/' + ${profile.id}}" class="btn btn-info">Ver</a></td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>